<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- 
		 当使用<context:component-scan base-package="com.cc" />时,
		 就无需使用<context:annotation-config />,
	 	 因为<context:component-scan base-package="com.cc" /> 
		会开始<context:annotation-config />里面包含的处理器
	 -->
	<context:annotation-config />
	<!-- 自动查找配置的bean -->
	<context:component-scan base-package="com.sc.webim" />
	
	<!-- **********引入hibernate的配置属性文件************ -->
	<bean id="extendedPropertyPlaceholderConfigurer" class="com.scommon.util.properties.ExtendedPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:hibernate.properties</value>
				<value>classpath:global.properties</value>
			</list>
		</property>
	</bean>

	<!-- ****************************************数据源*************************************************************** -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClass" value="${driver_class}"/>
		<!-- 指定连接数据库的URL -->
		<!-- &amp;zeroDateTimeBehavior=convertToNull是为了避免因数据库中为date类型的数据为0000-00-00,
			若为此值hibernate会报错‘Cannot convert value '0000-00-00 00:00:00' from column 1 to TIMESTAMP’
		 -->
		<property name="jdbcUrl" value="${url}"/>
		<!-- 指定连接数据库的用户名 -->
		<property name="user" value="${username}"/>
		<!-- 指定连接数据库的密码 -->
		<property name="password" value="${password}"/>
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="${maxPoolSize}"/>
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="${minPoolSize}"/>
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="${initialPoolSize}"/>
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="${maxIdleTime}"/>
		<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}"/>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 自动搜索包里面的实体类 -->
		 <property name="packagesToScan">
			<list>
				<value>com.sc.webim.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${dialect}</prop>
				<prop key="hibernate.show_sql">${show_sql}</prop>
				<prop key="hibernate.format_sql">${format_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${auto}</prop>
			</props>
		</property>
	</bean>
	
	<!-- 配置事务 begin -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" read-only="false" />
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="bussinessService"
			expression="execution(public * com.sc.webim.service.*.*(..))" />
		<aop:advisor pointcut-ref="bussinessService"
			advice-ref="txAdvice" />
	</aop:config>
	<!-- 配置事务 end -->
</beans>